[build]
rustflags = [
    "-C",
    "opt-level=z",
    "-C",
    "debuginfo=0",
    "-C",
    "panic=abort",
    "-C",
    "relocation-model=pic",
    "--remap-path-prefix",
    "C:\\Users\\=",
    "-Z",
    "location-detail=none",
]

[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "link-args=/ENTRY:mainCRTStartup /SUBSYSTEM:CONSOLE"]

[target.x86_64-pc-windows-gnu]
rustflags = ["-C", "link-args=-e mainCRTStartup -nostartfiles"]


[unstable]
build-std = ["std", "core", "panic_abort"]
build-std-features = ["optimize_for_size", "panic_immediate_abort"]
